<div class="login-page-main">
  <div class="another-login-div">
<h4>Enter Your Username and Password</h4>

<br>
{{!-- this action has to match the post route on the user-routes paghe --}}
<form action='/login' method="POST">
<label>Username: </label>
<input type="text" placeholder="Username" name="username">
<br>
<br>
<label>Password: </label>
<input type="text" placeholder="Password" name="password">
<br>

<br>
<button type="submit">Login</button>
</form>
{{#if message}}
    <p class="error-message">{{ message }}</p>
{{/if}}


</div>
</div>